In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import re

In [ ]:
# Load the datasets for each league. 
premier_league_df = pd.read_csv('Transfermarkt Datasets/premier_league_market_value.csv', index_col=0)
la_liga_df = pd.read_csv('Transfermarkt Datasets/la_liga_market_value.csv', index_col=0)
serie_a_df = pd.read_csv('Transfermarkt Datasets/serie_a_market_value.csv', index_col=0)
bundesliga_df = pd.read_csv('Transfermarkt Datasets/bundesliga_market_value.csv', index_col=0)
ligue_1_df = pd.read_csv('Transfermarkt Datasets/ligue_1_market_value.csv', index_col=0)

In [15]:
premier_league_df

                  Players   Values                     Team
0              David Raya  €40.00m               arsenal fc
1                    Neto   €2.00m               arsenal fc
2          William Saliba  €80.00m               arsenal fc
3       Gabriel Magalhães  €75.00m               arsenal fc
4            Jakub Kiwior  €28.00m               arsenal fc
..                    ...      ...                      ...
556         Matheus Cunha  €50.00m  wolverhampton wanderers
557  Jørgen Strand Larsen  €27.00m  wolverhampton wanderers
558        Hee-chan Hwang  €22.00m  wolverhampton wanderers
559        Sasa Kalajdzic   €5.00m  wolverhampton wanderers
560         Nathan Fraser    €600k  wolverhampton wanderers

[561 rows x 3 columns]

In [16]:
# Combine all 5 datasets into one
combined_df = pd.concat([premier_league_df, la_liga_df, serie_a_df, bundesliga_df, ligue_1_df], axis=0)
combined_df

                 Players   Values              Team
0             David Raya  €40.00m        arsenal fc
1                   Neto   €2.00m        arsenal fc
2         William Saliba  €80.00m        arsenal fc
3      Gabriel Magalhães  €75.00m        arsenal fc
4           Jakub Kiwior  €28.00m        arsenal fc
..                   ...      ...               ...
475  Zuriko Davitashvili   €8.00m  as saint etienne
476       Mathieu Cafaro   €2.00m  as saint etienne
477        Lucas Stassin   €5.00m  as saint etienne
478      Ibrahim Sissoko   €2.50m  as saint etienne
479       Ibrahima Wadji    €800k  as saint etienne

[2622 rows x 3 columns]

In [17]:
# Delete all rows with market value of 0
missing_values_index = combined_df[combined_df['Values'] == '0'].index
combined_df.drop(missing_values_index, inplace=True)
combined_df

                 Players   Values              Team
0             David Raya  €40.00m        arsenal fc
1                   Neto   €2.00m        arsenal fc
2         William Saliba  €80.00m        arsenal fc
4           Jakub Kiwior  €28.00m        arsenal fc
5     Riccardo Calafiori  €45.00m        arsenal fc
..                   ...      ...               ...
475  Zuriko Davitashvili   €8.00m  as saint etienne
476       Mathieu Cafaro   €2.00m  as saint etienne
477        Lucas Stassin   €5.00m  as saint etienne
478      Ibrahim Sissoko   €2.50m  as saint etienne
479       Ibrahima Wadji    €800k  as saint etienne

[2477 rows x 3 columns]

In [18]:
# Remove $ sign and '\xa0\xa0' from values column
for index, row in combined_df.iterrows():
    # Remove currency symbols, and \xa0
    row['Values'] = re.sub(r'[\$\€\£\¥\xa0]', '', row['Values'])

    # Convert to number
    if row['Values'].endswith('m'):
      row['Values'] = float(row['Values'][:-1]) * 10**6
    elif row['Values'].endswith('k'):
       row['Values'] = float(row['Values'][:-1]) * 10**3
    elif row['Values'].endswith('b'):
       row['Values'] = float(row['Values'][:-1]) * 10**9 
    else:
        row['Values'] = float(row['Values'])



print(combined_df)

                 Players      Values              Team
0             David Raya  40000000.0        arsenal fc
1                   Neto   2000000.0        arsenal fc
2         William Saliba  80000000.0        arsenal fc
4           Jakub Kiwior  28000000.0        arsenal fc
5     Riccardo Calafiori  45000000.0        arsenal fc
..                   ...         ...               ...
475  Zuriko Davitashvili   8000000.0  as saint etienne
476       Mathieu Cafaro   2000000.0  as saint etienne
477        Lucas Stassin   5000000.0  as saint etienne
478      Ibrahim Sissoko   2500000.0  as saint etienne
479       Ibrahima Wadji    800000.0  as saint etienne

[2477 rows x 3 columns]

In [ ]:
# Convert 'Values' column to float type for numerical operations.
combined_df['Values'] = combined_df['Values'].astype(float)
combined_df

                 Players      Values              Team
0             David Raya  40000000.0        arsenal fc
1                   Neto   2000000.0        arsenal fc
2         William Saliba  80000000.0        arsenal fc
4           Jakub Kiwior  28000000.0        arsenal fc
5     Riccardo Calafiori  45000000.0        arsenal fc
..                   ...         ...               ...
475  Zuriko Davitashvili   8000000.0  as saint etienne
476       Mathieu Cafaro   2000000.0  as saint etienne
477        Lucas Stassin   5000000.0  as saint etienne
478      Ibrahim Sissoko   2500000.0  as saint etienne
479       Ibrahima Wadji    800000.0  as saint etienne

[2477 rows x 3 columns]

In [20]:
combined_df.Values

0      40000000.0
1       2000000.0
2      80000000.0
4      28000000.0
5      45000000.0
          ...
475     8000000.0
476     2000000.0
477     5000000.0
478     2500000.0
479      800000.0
Name: Values, Length: 2477, dtype: float64

In [ ]:
# Save the cleaned DataFrame to a CSV file.
combined_df.to_csv('top5_league_market_values.csv')